html {
  font-family: Helvetica;
}
h1  {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
  font-size: 100px;
  font-weight: bold;
  text-align: center;
  color: khaki;
}
h2  {
  font-size: 32px;
  color: white;
}
#brush {
  background-color: mediumspringgreen;
}
#frame {
  background-color: lightcoral;
}
#paint  {
  background-color: skyblue;
}
.item span {
  font-weight: bold;
  color: blue;
}
